/NCodeBox.Domain/obj
/NCodeBox.Domain/bin
/NCodeBox.Domain.EF/obj
/NCodeBox.Domain.EF/bin
/NCodeBox.Domain.Validation/obj
/NCodeBox.Domain.Validation/bin
/NCodeBox.Infrastructure/obj
/NCodeBox.Infrastructure/bin
/packages
obj
bin
/_ReSharper.NCodeBox.Libs
/NCodeBox.Tests
/.gitignore
